body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 40px;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333;
}

.tasks-title {
    font-size: 28px;
    margin-bottom: 25px;
    position: relative;
}

.tasks-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    margin-top: 8px;
    border-radius: 5px;
}

.app-header {
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
    background: white;
    border-radius: 20px;
}

.danger-btn {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.danger-btn:hover {
    background: #e60000;
}

.danger-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.task-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.task-form input {
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.task-form button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 700px;
    margin: auto;
}

li {
    background: white;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
li:hover {
    transform: scale(1.01);
    transition: 0.2s;
}

.task-text.done {
    text-decoration: line-through;
    color: gray;
    opacity: 0.6;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions a {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 6px;
    font-weight: bold;
}

.actions a:hover {
    transform: translateY(-2px);
    opacity: 0.8;
}

.complete-btn {
    background: #d1fae5;
    color: #047857;
    padding: 8px 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.edit-btn {
    background: #fef3c7;
    color: #92400e;
    padding: 8px 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.delete-btn {
    background: #fee2e2;
    color: #b91c1c;
    padding: 8px 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.completed {
    background: #047857;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.completed:hover {
    background: #047857;
}

.top-buttons {
    display: flex;
    gap: 12px;          /* separación entre botones */
    align-items: center;
    margin-bottom: 20px; /* separación respecto al formulario */
}