<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To - Do App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Mis tareas</h1>

    <form action="/clear" method="POST" onsubmit="return confirm('¿Seguro que quieres borrar TODAS las tareas?')">
        <button type="submit" 
            {% if not tasks %}
            disabled
            {% endif %}
            class="danger-btn">
            Borrar todas las tareas
        </button>
    </form>

    <form class="task-form" action="/add" method="POST">
        <input type="text" name="title" placeholder="Nueva tarea" required autofocus>
        <button type="submit">Añadir</button>
    </form>

    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>
                    <span class="{% if task.done %}task-text done{% else %}task-text{% endif %}">
                        {{ task.title }}
                    </span>

                    <div class="actions">
                        <a class="complete-btn" href="/complete/{{ loop.index0 }}">Completar</a>

                        <a class="edit-btn" href="/edit/{{ loop.index0 }}">Editar</a>

                        <a class="delete-btn" href="/delete/{{ loop.index0 }}" onclick="return confirm('¿Seguro que quieres eliminar esta tarea?')">Eliminar</a>
                    </div>
                    
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="text-align: center; color: gray;">
            💤 No hay tareas aún... añade la primera!!!
        </p>
    {% endif %}
</body>

</html>