<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To - Do App</title>
</head>

<body>
    <h1>Mis tareas</h1>

    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>
                    {% if task.done %}
                        ✔
                    {% else %}
                        ✘
                    {% endif %}
                    {{ task.title }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay tareas.</p>
    {% endif %}
</body>

</html>